@import "tailwindcss";
:root {
  --yellow_color: #faca10;
  --gray_color: #f6f6f6;
  --black_color: #1e1e1e;
  --whtie_color: #ffffff;
  --ash_color: #c4c4c4;
  --nunito: "Nunito", serif;
  --lora: "Lora", serif;
}

@theme {
  --color-yellow_color: var(--yellow_color);
  --color-gray_color: var(--gray_color);
  --color-black_color: var(--black_color);
  --color-whtie_color: var(--whtie_color);
  --color-ash_color: var(--ash_color);
  --font-nunito: var(--nunito);
  --font-lora: var(--lora);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navitemstyle {
  position: relative;
}
.navitemstyle::after {
  position: absolute;
  content: "";
  bottom: 7px;
  z-index: -1;
  left: 0;
  width: 0%;
  height: 3px;
  opacity: 0;
  background-color: var(--yellow_color);
  transition: all linear 0.5s;
}

.navitemstyle:hover::after {
  width: 100%;
  opacity: 0.7;
}

.navitemstyle2 {
  position: relative;
}
.navitemstyle2::after {
  position: absolute;
  content: "";
  bottom: 15px;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--yellow_color);
  transition: all linear 0.5s;
}
.normalButton {
  @apply px-5 py-2.5 rounded font-nunito font-bold text-lg text-whtie_color hover:bg-purple-400 hover:text-white cursor-pointer  transition bg-black;
}
.ourcustomBttonStyle {
  @apply px-5 py-2.5 rounded font-nunito font-bold text-lg text-whtie_color hover:bg-yellow-400 hover:text-purple-400 cursor-pointer  transition bg-yellow-400 relative;
}

.ourcustomBttonStyle::after {
  position: absolute;
  content: "";
  left: -69px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  @apply bg-yellow-400;
}

.ourcustomBttonStyle::before {
  position: absolute;
  content: "";
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 4px;
  @apply bg-yellow-400;
}
